<p>
    Omega Diamond's Headquarters and primary R&D facility is located at: <br>
    <a href="https://goo.gl/maps/DNwmfLYKpS42" target="_blank">
        10125 Ophir Rd Newcastle, CA 95658-9504
    </a>
</p>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3105.916178374184!2d-121.11841044814692!3d38.88015955546313!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x809b1b04f1269467%3A0xb168723c19c2f7d!2s10125+Ophir+Rd%2C+Newcastle%2C+CA+95658!5e0!3m2!1sen!2sus!4v1535497543557" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

<h2>Call Us</h2>
<ul>
    <li>Toll Free: 1-888-996-4777 in USA</li>
    <li>Local, or overseas, 1-530-889-8977</li>
    <li>Fax: 1-530-885-3785</li>
</ul>

<h2>Hours</h2>
<ul>
    <li>Monday - Thursday 8:00 am - 5:00 pm PST</li>
    <li>Friday 8:00 am - 5:00 PM or Sundown PST, whichever comes first.</li>
</ul>

<h2>Business holidays:</h2>
<p>note: If a holiday marked below with a "*" falls on Saturday, the preceding Friday is a holiday. Likewise if it lands on a Sunday the following Monday is a holiday.</p>

<ul>
    <li>Memorial Day</li>
    <li>Independence Day*</li>
    <li>Labor Day</li>
    <li>Thanksgiving</li>
    <li>Christmas*</li>
</ul>