{{ range $index, $element := $.Site.Data.videos.videos }}

    {{ if $.Get "key" }}
        {{ if in .keys ($.Get "key") }}
            {{ $.Scratch.SetInMap "array" (string $index) $element }}
        {{ end }}

    {{ else if $.Get "youtube_id" }}
        {{ if eq ($.Get "youtube_id") $element.youtube_id }}
            {{ $.Scratch.SetInMap "array" (string $index) $element }}
        {{ end }}

    {{ else }}
        {{ $.Scratch.SetInMap "array" (string $index) $element }}
    {{ end }}

{{ end }}
<hr>


{{ range $.Scratch.Get "array" }}
    <div class="mdl-card mdl-shadow--4dp">
        <div class="mdl-card__title">
            <a href="#">
                <h2 class="mdl-card__title-text">{{ .title }}</h2>
            </a>
        </div>
        <div class="mdl-card__media">
            <a href="#">
                <img src="https://img.youtube.com/vi/{{ .youtube_id }}/0.jpg" alt="{{ .title }}" style="width: 100%;">
            </a>
            <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/{{ .youtube_id }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>-->
        </div>
        {{ if .description }}<div class="mdl-card__supporting-text">{{ .description }}</div> {{ end }}
    </div>
    <br>

    <!--<section>
        {{ if not ($.Get "hideTitle")}}{{ if .title }}<h2>{{ .title }}</h2>{{ end }}{{ end }}
        <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ .youtube_id }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        {{ if .description }}<p>{{ .description }}</p> {{ end }}
    </section>-->
{{ end }}


{{ $.Scratch.Delete "array" }}