<style xmlns:v-on="http://www.w3.org/1999/xhtml">
    a{
        cursor: pointer;
    }

    /* categories */
    .category-cell{
        background-color: #f8f8f8;
    }
    .category-aside{
    }
    .category-title{
        font-size: 2rem;
        margin: 0;
        padding-bottom: 5px;
    }
    .category-list{
        margin: 0;
    }
    .category-list li{
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        min-height: 10px;
    }
    .category-list li a{
        width: 100%;
    }

    .sm-nav{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .sm-nav .sortby {
        width: 200px;
    }
    .sm-nav .breadcrumb {
        padding: 20px 0;
        font-size: 1.5rem;
    }
</style>

<div class="mdl-grid" id="app">

    <!-- sm-nav -->
    <div class="mdl-cell mdl-cell--12-col sm-nav">
        <div class="breadcrumb">
            <a v-on:click="reset()">All Products</a>
            <template v-if="breadcrumb.length"> > </template>
            <template v-if="breadcrumb.length" v-for="(crumb, index) in breadcrumb">
                <a v-on:click="crumbClick(crumb, index)">[[ categories[crumb].name ]]</a>
                <template v-if="index + 1 !== breadcrumb.length"> > </template>
            </template>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label sortby">
            <select class="mdl-textfield__input" id="sort" v-model="sort" v-on:change="sortProducts()">
                <option value='{"taxonomies.featured": "asc", "date": "desc"}'>Featured</option>
                <option value='{"date": "desc"}'>Date (new to old)</option>
                <option value='{"date": "asc"}'>Date (old to new)</option>
                <option value='{"title": "asc"}'>Title (Az)</option>
                <option value='{"title": "desc"}'>Title (Za)</option>
            </select>
            <label class="mdl-textfield__label" for="sort">Sort By</label>
        </div>
    </div><!-- sm-nav -->

    <!-- category-cell -->
    <div class="mdl-cell mdl-cell--12-col-phone mdl-cell--3-col-tablet mdl-cell--3-col-desktop category-cell">
        <aside v-if="categories" class="category-aside">
            <ul class="mdl-list category-list">
                <li class="mdl-list__item" v-for="(category, index) in filteredCategories">
                    <a v-on:click.stop.prevent="categoryClick(index)">[[ category.name ]]</a>
                </li>
            </ul>

            <!--<a v-on:click.stop.prevent="reset()">Reset</a>-->
        </aside>
    </div><!-- category-cell -->

    <div class="mdl-cell mdl-cell--12-col-phone mdl-cell--5-col-tablet mdl-cell--9-col-desktop">
        <div class="mdl-grid">
            <div v-for="(product, index) in filteredProducts" class="mdl-cell mdl-cell--12-col mdl-cell--6-col-desktop">

                <!-- product card -->
                <article class="mdl-card mdl-shadow--4dp omg-card-product">
                    <section class="mdl-card__title">
                        <a :href="product.permalink">
                            <h3 class="mdl-card__title-text">[[ product.title ]] | [[ product.sku ]]</h3>
                        </a>
                    </section>

                    <section v-if="product.image" class="mdl-card__media">
                        <a :href="product.permalink">
                            <img :src="product.image" :alt="product.title">
                        </a>
                    </section>

                    <section class="mdl-card__supporting-text">
                        [[ product.description ]]
                        <hr>
                        <div v-for="(tax, tindex) in product.taxonomies">
                            <strong>[[ tindex ]]: [[ tax ]]</strong><br>
                        </div>
                        <hr> [[ product.date ]]
                    </section>

                    <!-- actions -->
                    <section class="mdl-card__actions mdl-card--border">
                        <strong class="omg-card-price">$4,321.00</strong>

                        <div>
                            <!-- share btn -->
                            <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect mdl-button--accent" :id="'sh_'+[[ index ]]" title="Share">
                                <i class="material-icons">share</i>
                            </button>
                            <ul class="mdl-menu mdl-menu--top-right mdl-js-menu mdl-js-ripple-effect"
                                :for="'sh_'+[[ index ]]">
                                <li class="mdl-menu__item"><a href="#">Facebook</a> </li>
                                <li class="mdl-menu__item"><a href="#">Google +</a> </li>
                                <li class="mdl-menu__item"><a href="#">Copy Link</a> </li>
                            </ul>

                            <!-- add to cart btn -->
                            <a class="mdl-button mdl-js-button mdl-button&#45;&#45;icon mdl-js-ripple-effect mdl-button&#45;&#45;accent" title="Add to Cart">
                                <i class="material-icons">add_shopping_cart</i>
                            </a>
                            <!--<button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--accent" title="Add to Cart">Add to Cart</button>-->
                        </div>
                    </section><!-- actions -->
                </article><!-- product card -->

            </div><!-- .mdl-cell for product -->
        </div><!-- .mdl-grid -->
    </div> <!-- .mdl-cell for products -->
</div> <!-- #app .mdl-grid -->




<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js"></script>

<!-- main script -->
<script>
    Vue.options.delimiters = ['[[', ']]'];
    var router = new VueRouter({
        mode: 'history',
        routes: []
    });

    // const urlCategoriesTree = '{{ $.Site.BaseURL }}taxonomytree.json';
    const urlCategoriesList = '{{ $.Site.BaseURL }}taxonomylist.json';
    const urlProducts = '{{ $.Site.BaseURL }}productsraw.json';

    /* App Component */
    var app = new Vue({
        router,
        el: '#app',
        data: {
            categories: null,
            filteredCategories: null,
            products: null,
            filteredProducts: null,
            sort: '{"taxonomies.featured": "asc", "date": "desc"}',
            breadcrumb: []
        },
        mounted() {
            axios.get(urlCategoriesList).then(response => {
                this.categories = response.data;
                this.filterCategories(null);
            });
            axios.get(urlProducts).then(response => {
                this.products = response.data;
                this.filterProducts();
                //this.search();
            });
        },
        methods: {
            filterCategories(category) {
                if (category) {
                    this.filterProducts();
                }
                this.filteredCategories = _.pickBy(this.categories, function (c, key) {
                    if (category) return _.includes(c.parentList, category);
                    else return c.root;
                })
            },
            reset(){
                this.filterCategories(null);
                // this.sort = '{"taxonomies.featured": "asc", "date": "desc"}';
                this.breadcrumb = [];
                this.filterProducts();
            },
            filterProducts() {
                let toFilterProducts = {};
                if (this.breadcrumb.length) {
                    let selectedCat = this.categories[_.last(this.breadcrumb)];
                    console.log(selectedCat);
                    toFilterProducts = _.pickBy(this.products, function (p, key) {

                        let taxonomyArr = [];
                        _.forEach(p.taxonomies, function (t, tKey) {
                            taxonomyArr.push(tKey);
                        });

                        let inter = _.intersection(taxonomyArr, selectedCat.childList);
                        return inter.length > 0 || p.taxonomies[selectedCat.key];
                    });
                } else {
                    toFilterProducts = this.products;
                }

                let sortBy = JSON.parse(this.sort);
                this.filteredProducts = _.orderBy(toFilterProducts, _.keys(sortBy), _.values(sortBy));
            },
            sortProducts() {
                let sortBy = JSON.parse(this.sort);
                this.filteredProducts = _.orderBy(this.filteredProducts, _.keys(sortBy), _.values(sortBy));
            },
            categoryClick(category){
                this.breadcrumb.push(category);
                this.filterCategories(category);
            },
            crumbClick(category, index) {
                if (index + 1 !== this.breadcrumb.length) {
                    this.breadcrumb = this.breadcrumb.splice(0, index+1);
                    this.filterCategories(category);
                }
            },
            search: function () {
                let search = this.$route.query.search;
                let category = this.$route.query.category;
                if (search) {
                    this.products = this.products.filter(function (p) {
                        if (_.includes(p.sku, search) || _.includes(p.title, search) || _.includes(p.description) || _.includes(p.content, search)) {
                            return p;
                        }
                    });
                }
                if (category) {
                    console.log('Category:', category);
                    this.categories = this.categoryTree.filter(function (cat) {
                        if (category === cat.key) {
                            return true;
                        }
                    });
                    this.test(category);
                }
            },
            test: function (element) {

            }
        }
    });
</script><!-- main script -->
