<style xmlns:v-on="http://www.w3.org/1999/xhtml">
    a{
        cursor: pointer;
    }

    /* categories */
    .category-cell{
        background-color: #f8f8f8;
    }
    .category-list{
        margin: 0;
    }
    .category-list li{
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        min-height: 10px;
    }
    .category-list li a{
        width: 100%;
    }

    .sm-nav{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .sm-nav .sortby {
        width: 200px;
    }
    .sm-nav .breadcrumb {
        padding: 20px 0;
        font-size: 1.5rem;
    }
</style>

<div class="mdl-grid" id="app">

    <!-- sm-nav -->
    <div class="mdl-cell mdl-cell--12-col sm-nav">
        <div class="breadcrumb">
            <a v-on:click.stop.prevent="reset()">All Products</a>
            <template v-if="breadcrumb.length"> > </template>
            <template v-if="breadcrumb.length" v-for="(crumb, index) in breadcrumb">
                <a v-on:click.stop.prevent="crumbClick(crumb, index)">[[ categories[crumb].name ]]</a>
                <template v-if="index + 1 !== breadcrumb.length"> > </template>
            </template>
            <template v-if="search">
                > Search Results: "[[ search ]]"
            </template>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label sortby">
            <select class="mdl-textfield__input" id="sort" v-model="sort" v-on:change="sortProducts()">
                <option value='{"taxonomies.featured": "asc", "date": "desc"}'>Featured</option>
                <option value='{"date": "desc"}'>Date (new to old)</option>
                <option value='{"date": "asc"}'>Date (old to new)</option>
                <option value='{"title": "asc"}'>Title (Az)</option>
                <option value='{"title": "desc"}'>Title (Za)</option>
            </select>
            <label class="mdl-textfield__label" for="sort">Sort By</label>
        </div>
    </div><!-- sm-nav -->

    <!-- category-cell -->
    <div class="mdl-cell mdl-cell--12-col-phone mdl-cell--3-col-tablet mdl-cell--3-col-desktop category-cell">
        <aside>
            <!-- categories -->
            <ul v-if="categories" class="mdl-list category-list">
                <li class="mdl-list__item" v-for="(category, index) in filteredCategories">
                    <a v-on:click.stop.prevent="categoryClick(index)">[[ category.name ]]</a>
                </li>
            </ul><!-- categories -->

            <!-- specs -->
            <div v-if="specs" v-for="(spec, key) in specs">
                <ul class="mdl-list">
                    <li class="mdl-list__item">[[ key ]]: [[ spec.qty ]]</li>
                    <li class="mdl-list__item" v-for="(checked, value) in spec.values">
                        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                            <input type="checkbox" class="mdl-checkbox__input"
                                   v-on:change="specChanged(key, value, checked, $event)"> <!--:checked="checked"-->
                            [[ value ]]
                        </label>
                    </li>
                </ul>
            </div> <!-- specs -->

            <!--<a v-on:click.stop.prevent="reset()">Reset</a>-->
        </aside>
    </div><!-- category-cell -->

    <div class="mdl-cell mdl-cell--12-col-phone mdl-cell--5-col-tablet mdl-cell--9-col-desktop">
        <div class="mdl-grid">
            <div v-for="(product, index) in filteredProducts" class="mdl-cell mdl-cell--12-col mdl-cell--6-col-desktop">

                <!-- product card -->
                <article class="mdl-card mdl-shadow--4dp omg-card-product">
                    <section class="mdl-card__title">
                        <a :href="product.permalink">
                            <h3 class="mdl-card__title-text">[[ product.title ]] | [[ product.sku ]]</h3>
                        </a>
                    </section>

                    <section v-if="product.image" class="mdl-card__media">
                        <a :href="product.permalink">
                            <img :src="product.image" :alt="product.title">
                        </a>
                    </section>

                    <section class="mdl-card__supporting-text">
                        [[ product.description ]]
                        <hr>
                        <div v-for="(tax, tindex) in product.taxonomies">
                            <strong>[[ tindex ]]: [[ tax ]]</strong><br>
                        </div>
                        <hr>
                        <div v-for="(value, name) in product.specs">
                            [[ name ]]: [[ value ]]<br>
                        </div>
                    </section>

                    <!-- actions -->
                    <section class="mdl-card__actions mdl-card--border">
                        <strong class="omg-card-price">$4,321.00</strong>

                        <div>
                            <!-- share btn -->
                            <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect mdl-button--accent" :id="'sh_'+[[ index ]]" title="Share">
                                <i class="material-icons">share</i>
                            </button>
                            <ul class="mdl-menu mdl-menu--top-right mdl-js-menu mdl-js-ripple-effect"
                                :for="'sh_'+[[ index ]]">
                                <li class="mdl-menu__item"><a href="#">Facebook</a> </li>
                                <li class="mdl-menu__item"><a href="#">Google +</a> </li>
                                <li class="mdl-menu__item"><a href="#">Copy Link</a> </li>
                            </ul>

                            <!-- add to cart btn -->
                            <a class="mdl-button mdl-js-button mdl-button&#45;&#45;icon mdl-js-ripple-effect mdl-button&#45;&#45;accent" title="Add to Cart">
                                <i class="material-icons">add_shopping_cart</i>
                            </a>
                            <!--<button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--accent" title="Add to Cart">Add to Cart</button>-->
                        </div>
                    </section><!-- actions -->
                </article><!-- product card -->

            </div><!-- .mdl-cell for product -->

            <div v-if="!filteredProducts || (filteredProducts && filteredProducts.length < 1)" class="mdl-cell mdl-cell--12-col">
                No Products found...
            </div>
        </div><!-- .mdl-grid -->
    </div> <!-- .mdl-cell for products -->
</div> <!-- #app .mdl-grid -->


<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js"></script>

<!-- main script -->
<script>
    Vue.options.delimiters = ['[[', ']]'];
    var router = new VueRouter({
        mode: 'history',
        routes: []
    });

    // const urlCategoriesTree = '{{ $.Site.BaseURL }}taxonomytree.json';
    const urlCategoriesList = '{{ $.Site.BaseURL }}taxonomylist.json';
    const urlProducts = '{{ $.Site.BaseURL }}productsraw.json';

    /* App Component */
    var app = new Vue({
        router,
        el: '#app',
        data: {
            categories: null,
            filteredCategories: null,
            products: null,
            filteredProducts: null,
            specs: null,
            searchSpecs: {},
            sort: null,
            search: '',
            breadcrumb: []
        },
        mounted() {
            const getCats = axios.get(urlCategoriesList).then(response => {
                if (typeof response.data === 'object') {
                    this.categories = response.data;
                    this.categories['featured'] = {key: 'featured', name: 'Featured'};
                }
            }).catch(err => console.error('Error getting categories', err));

            const getProds = axios.get(urlProducts).then(response => {
                if (typeof response.data === 'object') {
                    this.products = response.data;
                }
            }).catch(err => console.error('Error getting products', err));

            Promise.all([getCats, getProds]).then(resolve => {
                this.onRouteChange();
            }).catch(err => console.error('Error getting data', err));
        },
        watch: {
            $route (to, from) {
                // console.log('...route changed');
                this.onRouteChange();
            }
        },
        methods: {
            routePush() {
                // console.log('...route pushed');
                this.$router.push('/search/?search=' + this.search + '&sort=' + this.sort + '&category=' + this.breadcrumb);
            },
            onRouteChange() {
                // console.log('...onRouteChange');
                // console.log('onRouteChange:', this.$route.query);
                this.sort = this.$route.query.sort || '{"taxonomies.featured": "asc", "date": "desc"}';
                this.search = this.$route.query.search || '';

                let category = this.$route.query.category;
                if (category) {
                    const cats = category.split(',');
                    if (this.categories[cats[cats.length - 1]]) {
                        this.breadcrumb = cats;
                    }
                }

                this.filterCategories(_.last(this.breadcrumb));
                this.filterProducts();
                this.filterSpecs();
            },

            categoryClick(category){
                this.breadcrumb.push(category);
                this.routePush();
                this.filterCategories(category);
            },
            crumbClick(category, index) {
                if (index + 1 !== this.breadcrumb.length) {
                    this.breadcrumb = this.breadcrumb.splice(0, index+1);
                    this.filterCategories(category);
                }
                this.routePush();
            },
            filterCategories(category) {
                this.filteredCategories = _.pickBy(this.categories, function (c, key) {
                    if (category) return _.includes(c.parentList, category);
                    else return c.root;
                });
            },

            filterProducts() {
                // console.log('...filterProducts');
                // get by category
                if (this.breadcrumb.length) {
                    let selectedCat = this.categories[_.last(this.breadcrumb)];
                    if (selectedCat) {
                        this.filteredProducts = _.pickBy(this.products, function (p, key) {

                            let taxonomyArr = [];
                            _.forEach(p.taxonomies, function (t, tKey) {
                                taxonomyArr.push(tKey);
                            });

                            let inter = _.intersection(taxonomyArr, selectedCat.childList);
                            return inter.length > 0 || p.taxonomies[selectedCat.key];
                        });
                    }
                } else {
                    this.filteredProducts = this.products;
                }

                // search
                if (this.search) {
                    const searchStr = this.search.toLowerCase();
                    this.filteredProducts = _.filter(this.filteredProducts, function (p) {
                        /*  || _.includes(p.content.toLowerCase(), searchStr) */
                        if (_.includes(_.lowerCase(p.sku), searchStr) || _.includes(_.lowerCase(p.title), searchStr) || _.includes(_.lowerCase(p.description), searchStr)) {
                            return p;
                        }
                    })
                }

                let sortBy = JSON.parse(this.sort);
                this.filteredProducts = _.orderBy(this.filteredProducts, _.keys(sortBy), _.values(sortBy));
            },
            sortProducts() {
                let sortBy = JSON.parse(this.sort);
                this.filteredProducts = _.orderBy(this.filteredProducts, _.keys(sortBy), _.values(sortBy));

                this.routePush();
            },

            filterSpecs() {
                let specs = [];

                _.forEach(this.filteredProducts, function (product) {
                    _.forEach(product.specs, function (value, key) {
                        if (!(key in specs))
                            specs[key] = {};

                        if (!('values' in specs[key]))
                            specs[key]['values'] = {};

                        if (!(value in specs[key]['values']))
                            specs[key]['values'][value] = false;

                        if (!('qty' in specs[key]))
                            specs[key]['qty'] = 1;
                        else
                            specs[key]['qty'] += 1;
                    });
                });

                this.specs = _.fromPairs(
                    _.orderBy(
                        _.toPairs(
                            _.pickBy(specs, function (spec) {
                                return spec.qty > 1;
                            })
                        ), function (spec) {
                            return spec[1].qty;
                        }
                    ).reverse());
                // console.log(this.specs);
            },
            specChanged(key, value, checked, event) {
                /*console.log('spec changed', key, value, checked);
                console.log('event:', event.target.checked);
                console.log(this.specs[key]);*/

                // console.log(event.target.checked);

                if (event.target.checked) {
                    if (!_.has(this.searchSpecs, key)) {
                        this.searchSpecs[key] = [];
                    }
                    if (!_.includes(this.searchSpecs[key], value)) {
                        this.searchSpecs[key].push(value);
                    }
                } else {
                    if (_.has(this.searchSpecs, key)) {
                        if (_.includes(this.searchSpecs[key], value)) {
                            _.remove(this.searchSpecs[key], function (sVal) {
                                return sVal === value;
                            })
                        }

                        if (this.searchSpecs[key].length < 1) {
                            delete this.searchSpecs[key];
                        }
                    }
                }

                // console.log(this.searchSpecs);
                const searchSpecs = this.searchSpecs;

                let products = _.pickBy(this.products, function (p) {

                    var skus = [];

                    _.forEach(searchSpecs, function (sArr, sKey) {
                        // console.log(sKey + ':', sArr);
                        if (_.includes(sArr, p.specs[sKey])) {
                            if (!_.includes(skus, p.sku)) skus.push(p.sku);
                        }
                    });

                    return _.includes(skus, p.sku);
                });
                /*console.log('products:', products);
                console.log(this.specs);
                console.log('- - - - - - - -');*/

                if (Object.keys(searchSpecs).length >= 1) {
                    this.filteredProducts = products;
                } else {
                    this.filteredProducts = this.products;
                }

                this.routePush();

            },

            reset(){
                this.filterCategories(null);
                this.sort = '{"taxonomies.featured": "asc", "date": "desc"}';
                this.search = '';
                this.breadcrumb = [];
                this.routePush();
            }
        }
    });
</script><!-- main script -->
