<style>
    /* categories */
    .category {
        cursor: pointer;
    }
    ul {
        padding-left: 1em;
        line-height: 1.5em;
        list-style-type: dot;
        margin: 0;
    }

    /* products */
    .mdl-card{
        width: 100%;
    }
    .mdl-card__title h2{
        font-size: 2rem;
        margin: 0;
        padding: 0;
    }
</style>

<div class="mdl-grid" id="app">
    <div class="mdl-cell mdl-cell--12-col-phone mdl-cell--3-col-tablet mdl-cell--3-col-desktop" style="background-color: #f8f8f8; padding: 5px;">
        <aside>
            <!--[[ categories ]]-->
            <ul v-for="(cat, index) in categories">
                <category :model="cat" class="category"></category>
            </ul>
        </aside>
    </div>

    <div class="mdl-cell mdl-cell--12-col-phone mdl-cell--5-col-tablet mdl-cell--9-col-desktop">
        <div class="mdl-grid">
            <div v-for="(product, index) in products" class="mdl-cell mdl-cell--12-col mdl-cell--6-col-desktop">
                <div class="mdl-card mdl-shadow--4dp">
                    <div class="mdl-card__title">
                        <a :href="product.permalink">
                            <h2>[[ product.title ]] | [[ product.sku ]]</h2>
                        </a>
                    </div>
                    <div class="mdl-card__media" v-if="product.image">
                        <img :src="product.image" :alt="product.title">
                    </div>
                    <div class="mdl-card__supporting-text">
                        [[ product.description ]]
                        <!--<div v-for="tax in product.taxonomies">
                            [[ tax ]]<br>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js"></script>
<script type="text/x-template" id="category-template">
    <li>
        <div @click="toggle">
            [[ model.name ]]
            <span v-if="isFolder">
                [ [[ open ? '-' : '+' ]] ]
                <!--<i class="material-icons" v-if="open">remove</i>
                <i class="material-icons" v-if="!open">add</i>-->
            </span>
        </div>
        <ul v-show="open" v-if="isFolder">
            <category class="category"
                  v-for="(model, index) in model.children"
                  :key="index"
                  :model="model">
            </category>
        </ul>
    </li>
</script>
<script>
    Vue.options.delimiters = ['[[', ']]'];
    var router = new VueRouter({
        mode: 'history',
        routes: []
    });

    const urlCategoriesTree = '{{ $.Site.BaseURL }}taxonomytree.json';
    const urlCategoriesList = '{{ $.Site.BaseURL }}taxonomylist.json';
    const urlProducts = '{{ $.Site.BaseURL }}productsraw.json';
    /*console.log(urlCategoriesList);*/

    Vue.component('category', {
        template: '#category-template',
        props: {
            model: Object
        },
        data: function () {
            return {
                open: true
            }
        },
        computed: {
            isFolder: function () {
                return this.model.children && this.model.children.length;
            }
        },
        methods: {
            toggle: function () {
                if (this.isFolder) {
                    this.open = !this.open;
                }
            }
        }
    });

    var categories = new Vue({
        router,
        el: '#app',
        data: {
            categories: null,
            categoryTree: null,
            categoryList: null,
            products: null,
        },
        mounted() {
            axios.get(urlCategoriesTree).then(response => {
                this.categoryTree = response.data.sort(function (a, b) {
                    return a.weight - b.weight;
                });
            });
            axios.get(urlCategoriesList).then(response => {
                this.categoryList = response.data.sort(function (a, b) {
                    return a.weight - b.weight;
                });
                this.search();
            });
            axios.get(urlProducts).then(response => {
                this.products = response.data;
            });
        },
        methods: {
            search: function () {
                let search = this.$route.query.search;
                let category = this.$route.query.category;
                if (search) {
                    this.products = this.products.filter(function (p) {
                        if (_.includes(p.sku, search) || _.includes(p.title, search) || _.includes(p.description) || _.includes(p.content, search)) {
                            return p;
                        }
                    });
                }
                if (category) {
                    this.categories = this.categoryTree.filter(function (cat) {
                        if (category === cat.key) {
                            return true;
                        }
                    });
                    this.test(category);
                }
            },
            test: function (element) {

            }
        }
    });

</script>
