<div class="mdl-card mdl-shadow--4dp">
    <div class="mdl-card__media" style="background-color: transparent; text-align: center; padding-top: 22px; padding-bottom: 4px;">
        <img src="http://pluspng.com/img-png/quotation-png-quotation-png-transparent-image-498.png" width="50">
    </div>

    <div class="mdl-card__supporting-text">
        Sam is always very helpful and I think that you have the best rail saw on the market.
        <br>
        <i>Thank you,</i>
        <blockquote>
            Anton Kulay from ANK Granite
        </blockquote>
    </div>
</div>
<br>

<div class="mdl-card mdl-shadow--4dp">
    <div class="mdl-card__media" style="background-color: transparent; text-align: center; padding-top: 22px; padding-bottom: 4px;">
        <img src="http://pluspng.com/img-png/quotation-png-quotation-png-transparent-image-498.png" width="50">
    </div>

    <div class="mdl-card__supporting-text">
        I wanted to tell Sam thanks again for spending so much time with us at the [2013] stone expo in Vegas.
        We are a very small granite company and we went to the expo to purchase Fab King to cut out sinks.
        After looking at the Fab King we were left scratching our heads wondering what to do, or buy in our
        price range. We checked out the Omega booth because we have a Blue Ripper Sr. After talking with Sam,
        he [showed] us the Red Ripper Ultralight - it's EXACTLY what we needed!!!!
        <br>
        <i>Thank you very much for the help!!!!</i>
        <blockquote>
            Joel Boyd from
            Boyd's Granite
        </blockquote>
    </div>
</div>
<br>

<div class="mdl-card mdl-shadow--4dp">
    <div class="mdl-card__media" style="background-color: transparent; text-align: center; padding-top: 22px; padding-bottom: 4px;">
        <img src="http://pluspng.com/img-png/quotation-png-quotation-png-transparent-image-498.png" width="50">
    </div>

    <div class="mdl-card__supporting-text">
        <p>The Braxton-Bragg team went to Heartland Cabinet And Granite Factory Outlet to their Newport, TN stone fabrication shop. They found a fabricator who is a fervent supporter of the Blue Ripper Sr Rail Saw!</p>

        <!--<a href="https://img.youtube.com/vi/53J2vQUUBFg/0.jpg">
            <img src="https://img.youtube.com/vi/53J2vQUUBFg/0.jpg" title="Title 2" style="width: 100%;">
        </a>-->

        <iframe width="100" height="200" src="https://www.youtube.com/embed/53J2vQUUBFg?wmode=opaque&amp;rel=0&amp;autohide=1&amp;showinfo=0&amp;wmode=transparent" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        <br>
        <p>In this video, Mike - a fabricator with 5 years of experience - tells Braxton-Bragg why he prefers using the Blue Ripper Sr Rail Saw to using a bridge saw or a CNC machine.</p>

        <blockquote>
            Heartland Cabinet And Granite Factory Outlet - by Braxton-Bragg
        </blockquote>
    </div>
</div>