{{ partial "header.html" . }}

<h1>{{ .Title }}</h1>

<!--<section>
	<h2>Header 1</h2>
	{{ range where .Pages "Section" "tutorials" }}
		<article>
			<a href="{{ .Permalink }}">
				<img src="{{.Site.BaseURL}}img/card-example.jpg" alt="card example">
				<h2>{{ .Title }}</h2>
			</a>
		</article>
	{{ end }}
</section>-->

<style>
    .mdl-card--horizontal{
        width: calc(100% - 32px);
        margin: 20px 16px;
    }
    .mdl-card--horizontal img{
        width: 100%;
    }

    @media screen and (min-width: 450px){

        .mdl-card--horizontal {
            min-height: 150px;
            flex-direction: column;
            padding-left: 150px;
        }

        .mdl-card__supporting-text {
            flex: 1 1 auto;
            width: auto;
        }

        .mdl-card__media {
            flex: 0 auto;
            float: right;
            margin: 0;
            left: 0;
            position: absolute;
            width: 150px;
            background-color: orange;
        }

        .mdl-card__media img {
        }
    }
</style>

{{ range where .Pages "Section" "tutorials" }}
    <div class="mdl-card mdl-shadow--4dp mdl-card--horizontal">
        <div class="mdl-card__media">
            <a href="{{ .Permalink }}">
                <img src="{{.Site.BaseURL}}img/card-example.jpg" alt="card example">
            </a>
        </div>
        <div class="mdl-card__title">
            <a href="{{ .Permalink }}">
                <h2 class="mdl-card__title-text">{{ .Title }}</h2>
            </a>
        </div>
        <div class="mdl-card__supporting-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Lorem ipsum dolor sit amet, consectetur adfend lacinia...
            Lorem ipsum dolor sit amet, consectetur adfend lacinia...
            Lorem ipsum dolor sit amet, consectetur adfend lacinia...
        </div>
    </div>
{{ end }}

{{ partial "footer.html" . }}
