/* HEADER */
.omg-search-box.is-focused + .omg-navigation-container{
    opacity: 0;
    width: 100px;
    background-color: red;
}
/*.omg-search-box.is-focused {
    width: calc(100% - 48px);
}
.omg-search-box .mdl-textfield__expandable-holder {
    width: 100%;
}*/

.omg-navigation > a{
    padding-left: 10px !important;
    padding-right: 10px !important;
}