<!--<link rel="stylesheet" href="{{.Site.BaseURL}}css/mdl-ext/mdl-ext-eqjs.min.css">
<link rel="stylesheet" href="{{.Site.BaseURL}}css/mdl-ext/dialog-polyfill.css">-->


<ul id="lightboard-for-lightbox-img" class="mdlext-lightboard mdlext-js-lightboard mdl-js-ripple-effect mdl-js-ripple-effect--ignore-events">
    <li class="mdlext-lightboard__slide" data-details="[
    { 'name': 'Title',            'value': 'Northern goshawk with prey' },
    { 'name': 'Copyright &copy;', 'value': 'Leif Olsen' }]">
        <a href="{{.Site.BaseURL}}img/gallery-example.jpg" class="mdlext-lightboard__slide__frame">
            <figure>
                <img src="{{.Site.BaseURL}}img/gallery-example.jpg" title="First One">
                <figcaption>First One</figcaption>
            </figure>
        </a>
    </li>

    <li class="mdlext-lightboard__slide" data-details="[
    { 'name': 'Title',            'value': 'Northern goshawk with prey' },
    { 'name': 'Copyright &copy;', 'value': 'Leif Olsen' }]">
        <a href="https://omegadiamond.com/system/files/images/IMG_2039%28web%29.preview.jpg" class="mdlext-lightboard__slide__frame">
            <figure>
                <img src="https://omegadiamond.com/system/files/images/IMG_2039%28web%29.preview.jpg" title="Another One">
                <figcaption>Another One</figcaption>
            </figure>
        </a>
    </li>

    <li class="mdlext-lightboard__slide" data-details="[
    { 'name': 'Title',            'value': 'Northern goshawk with prey' },
    { 'name': 'Copyright &copy;', 'value': 'Leif Olsen' }]">
        <a href="https://omegadiamond.com/system/files/images/BRS_On_Rail_Bottom.jpg" class="mdlext-lightboard__slide__frame">
            <figure>
                <img src="https://omegadiamond.com/system/files/images/BRS_On_Rail_Bottom.jpg" title="One More">
                <figcaption>One More</figcaption>
            </figure>
        </a>
    </li>

    <li class="mdlext-lightboard__slide" data-details="[
    { 'name': 'Title',            'value': 'Northern goshawk with prey' },
    { 'name': 'Copyright &copy;', 'value': 'Leif Olsen' }]">
        <a href="{{.Site.BaseURL}}img/gallery-example2.jpg" class="mdlext-lightboard__slide__frame">
            <figure>
                <img src="{{.Site.BaseURL}}img/gallery-example2.jpg" title="Last One">
                <figcaption>Last One</figcaption>
            </figure>
        </a>
    </li>
</ul>

<!--{{ partial "image-lightbox-dialog.html" . }}-->


<!--
<script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
<script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=default,es6"></script>
<script src="{{.Site.BaseURL}}js/mdl-ext/dialog-polyfill.js"></script>
<script src="{{.Site.BaseURL}}js/mdl-ext/mdl-ext.min.js"></script>
<script src="/js/lightbox-images.js"></script>
-->
