<ul id="lightboard-for-lightbox-img" class="mdlext-lightboard mdlext-js-lightboard mdl-js-ripple-effect mdl-js-ripple-effect--ignore-events">
    {{ range .images }}
        {{ if .url }}
            <li class="mdlext-lightboard__slide" data-details="[{ 'name': 'Title', 'value': 'll:{{ if .title }} {{ .title }} {{ else }} {{ $.productTitle }} {{ end }}' }]">
                <a href="{{ .url }}" class="mdlext-lightboard__slide__frame">
                    <figure>
                        <img src="{{ .url }}" title="{{ if .title }} {{ .title }} {{ else }} {{ $.productTitle }} {{ end }}" alt="{{ if .title }} {{ .title }} {{ else }} {{ $.productTitle }} {{ end }}">
                        <figcaption>{{ if .title }} {{ .title }} {{ else }} {{ $.productTitle }} {{ end }}</figcaption>
                    </figure>
                </a>
            </li>
        {{ end }}
    {{ end }}
</ul>


<dialog id="lightbox-dialog-img" class="mdlext-dialog">
    <div id="lightbox-img" class="mdlext-lightbox mdlext-js-lightbox mdl-card mdl-shadow--4dp">

        <!--<div class="mdl-card__menu mdl-color-text&#45;&#45;white mdl-typography&#45;&#45;body-2-color-contrast">
            <button data-action="close" class="mdl-button mdl-button&#45;&#45;icon mdl-js-button" title="Close">
                <i class="material-icons">close</i>
            </button>
        </div>-->

        <figure class="mdl-card__title">
            <img src="" draggable="true" alt="">
            <figcaption data-action="select">Details</figcaption>
        </figure>
        <footer data-action="select" class="mdl-card__actions mdl-card--border">
            <div class="mdl-card__supporting-text">
                Image title
            </div>
            <nav>
                <button data-action="first" class="mdl-button mdl-button--icon mdl-button--colored mdl-js-button" title="First">
                    <i class="material-icons">first_page</i>
                </button>
                <button data-action="prev" class="mdl-button mdl-button--icon mdl-button--colored mdl-js-button" title="Previous">
                    <i class="material-icons">chevron_left</i>
                </button>
                <button data-action="next" class="mdl-button mdl-button--icon mdl-button--colored mdl-js-button" title="Next">
                    <i class="material-icons">chevron_right</i>
                </button>
                <button data-action="last" class="mdl-button mdl-button--icon mdl-button--colored mdl-js-button" title="Last">
                    <i class="material-icons">last_page</i>
                </button>

                <button data-action="select" class="mdl-button mdl-button--icon mdl-button--colored mdl-js-button" title="Details">
                    <i class="material-icons">info_outline</i>
                </button>

                <button data-action="close" class="mdl-button mdl-button--icon mdl-button--colored mdl-js-button" title="Close">
                    <i class="material-icons">close</i>
                </button>
            </nav>
        </footer>
    </div>
</dialog>