<article class="mdl-card mdl-shadow--4dp">
    <section class="mdl-card__title">
        <a href="#">
            <h2 class="mdl-card__title-text">Product Title</h2>
        </a>
    </section>

    <section class="mdl-card__media" style="padding: 10px;">
        <a href="#">
            <img src="{{ .Site.BaseURL}}/img/card-example.jpg" alt="Card Example">
        </a>
    </section>

    <section class="mdl-card__supporting-text">
        This is description, this is description, this is description, this is description, this is description
    </section>

    <!-- actions -->
    <section class="mdl-card__actions mdl-card--border">

        <!-- info -->
        <a class="mdl-button mdl-js-button mdl-button--icon" href="#" title="Information">
            <i class="material-icons">info</i>
        </a>

        <!-- share -->
        <button id="product_1"
                class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect"
                title="Share">
            <i class="material-icons">share</i>
        </button>
        <ul class="mdl-menu mdl-menu--top-left mdl-js-menu mdl-js-ripple-effect"
            for="product_1">
            <li class="mdl-menu__item"><a href="#">Facebook</a> </li>
            <li class="mdl-menu__item"><a href="#">Google +</a> </li>
            <li class="mdl-menu__item"><a href="#">Link</a> </li>
        </ul>

        <!-- add to cart -->
        <a class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" href="#" title="Add to Cart">
            <i class="material-icons">add_shopping_cart</i>
        </a>

        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--colored" title="Add to Cart">Add to Cart</button>
    </section>
</article>

<article class="mdl-card mdl-shadow--4dp">
    <section class="mdl-card__title">
        <a href="#">
            <h2 class="mdl-card__title-text">Product Title</h2>
        </a>
    </section>

    <section class="mdl-card__media" style="padding: 10px;">
        <a href="#">
            <img src="{{ .Site.BaseURL}}/img/card-example.jpg" alt="Card Example">
        </a>
    </section>

    <section class="mdl-card__supporting-text">
        This is description, this is description, this is description, this is description, this is description
    </section>

    <!-- actions -->
    <section class="mdl-card__actions mdl-card--border">

        <!-- info -->
        <a class="mdl-button mdl-js-button mdl-button--icon" href="#" title="Information">
            <i class="material-icons">info</i>
        </a>

        <!-- share -->
        <button id="product_2"
                class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect"
                title="Share">
            <i class="material-icons">share</i>
        </button>
        <ul class="mdl-menu mdl-menu--top-left mdl-js-menu mdl-js-ripple-effect"
            for="product_2">
            <li class="mdl-menu__item"><a href="#">Facebook</a> </li>
            <li class="mdl-menu__item"><a href="#">Google +</a> </li>
            <li class="mdl-menu__item"><a href="#">Link</a> </li>
        </ul>

        <!-- add to cart -->
        <a class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" href="#" title="Add to Cart">
            <i class="material-icons">add_shopping_cart</i>
        </a>

        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--colored" title="Add to Cart">Add to Cart</button>
    </section>
</article>

<article class="mdl-card mdl-shadow--4dp">
    <section class="mdl-card__title">
        <a href="#">
            <h2 class="mdl-card__title-text">Product Title</h2>
        </a>
    </section>

    <section class="mdl-card__media" style="padding: 10px;">
        <a href="#">
            <img src="{{ .Site.BaseURL}}/img/card-example.jpg" alt="Card Example">
        </a>
    </section>

    <section class="mdl-card__supporting-text">
        This is description, this is description, this is description, this is description, this is description
    </section>

    <!-- actions -->
    <section class="mdl-card__actions mdl-card--border">

        <!-- info -->
        <a class="mdl-button mdl-js-button mdl-button--icon" href="#" title="Information">
            <i class="material-icons">info</i>
        </a>

        <!-- share -->
        <button id="product_3"
                class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect"
                title="Share">
            <i class="material-icons">share</i>
        </button>
        <ul class="mdl-menu mdl-menu--top-left mdl-js-menu mdl-js-ripple-effect"
            for="product_3">
            <li class="mdl-menu__item"><a href="#">Facebook</a> </li>
            <li class="mdl-menu__item"><a href="#">Google +</a> </li>
            <li class="mdl-menu__item"><a href="#">Link</a> </li>
        </ul>

        <!-- add to cart -->
        <a class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" href="#" title="Add to Cart">
            <i class="material-icons">add_shopping_cart</i>
        </a>

        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--colored" title="Add to Cart">Add to Cart</button>
    </section>
</article>