<div class="mdl-grid">

    {{ range $i, $sequence := (seq 4) }}

    <div class="mdl-cell">
        <article class="mdl-card mdl-shadow--4dp omg-card-product">
            <section class="mdl-card__title">
                <a href="#">
                    <h2 class="mdl-card__title-text">Product Title</h2>
                </a>
            </section>

            <section class="mdl-card__media">
                <a href="#">
                    <img src="{{ $.Site.BaseURL}}/img/card-example.jpg" alt="Card Example">
                </a>
            </section>

            <section class="mdl-card__supporting-text">
                This is description, this is description, this is description, this is description, this is description
            </section>

            <!-- actions -->
            <section class="mdl-card__actions mdl-card--border">

                <strong class="omg-card-price">$4,321.00</strong>

                <div>
                    <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect mdl-button--accent" id="share_{{ $i }}" title="Share">
                        <i class="material-icons">share</i>
                    </button>
                    <ul class="mdl-menu mdl-menu--top-right mdl-js-menu mdl-js-ripple-effect"
                        for="share_{{ $i }}">
                        <li class="mdl-menu__item"><a href="#">Facebook</a> </li>
                        <li class="mdl-menu__item"><a href="#">Google +</a> </li>
                        <li class="mdl-menu__item"><a href="#">Copy Link</a> </li>
                    </ul>
                    <div class="mdl-tooltip mdl-tooltip--top" data-mdl-for="share_{{ $i }}">Share</div>

                    <!-- add to cart -->
                    <a id="add_{{ $i }}" class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect mdl-button--accent" href="#" title="Add to Cart">
                        <i class="material-icons">add_shopping_cart</i>
                    </a>
                    <div class="mdl-tooltip mdl-tooltip--top" data-mdl-for="add_{{ $i }}">Add to Cart</div>
                    <!--<button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button&#45;&#45;raised mdl-button&#45;&#45;accent" title="Add to Cart">Add to Cart</button>-->
                </div>
            </section>
        </article>
    </div>
    {{ end }}

</div>
