<article class="mdl-card mdl-shadow--4dp">
    <section class="mdl-card__title">
        <a href="#">
            <h2 class="mdl-card__title-text">Product Title</h2>
        </a>
    </section>

    <section class="mdl-card__media" style="padding: 10px;">
        <a href="#">
            <img src="{{ .Site.BaseURL}}/img/card-example.jpg" alt="Card Example">
        </a>
    </section>

    <section class="mdl-card__supporting-text">
        This is description, this is description, this is description, this is description, this is description
    </section>

    <!-- actions -->
    <section class="mdl-card__actions mdl-card--border" style="display: flex; justify-content: space-between">

        <div class="omg-card-price">$4,321.00</div>

        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--colored" title="Add to Cart">Add to Cart</button>
    </section>

    <!-- menu -->
    <div class="mdl-card__menu">
        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" id="product_1">
            <i class="material-icons">share</i>
        </button>
        <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
            for="product_1">
            <li class="mdl-menu__item"><a href="#">Facebook</a> </li>
            <li class="mdl-menu__item"><a href="#">Google +</a> </li>
            <li class="mdl-menu__item"><a href="#">Link</a> </li>
        </ul>
    </div>
</article>
<br>

<article class="mdl-card mdl-shadow--4dp">
    <section class="mdl-card__title">
        <a href="#">
            <h2 class="mdl-card__title-text">Product Title</h2>
        </a>
    </section>

    <section class="mdl-card__media" style="padding: 10px;">
        <a href="#">
            <img src="{{ .Site.BaseURL}}/img/card-example.jpg" alt="Card Example">
        </a>
    </section>

    <section class="mdl-card__supporting-text">
        This is description, this is description, this is description, this is description, this is description
    </section>

    <!-- actions -->
    <section class="mdl-card__actions mdl-card--border" style="display: flex; justify-content: space-between">

        <div class="omg-card-price">$4,321.00</div>

        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--colored" title="Add to Cart">Add to Cart</button>
    </section>

    <!-- menu -->
    <div class="mdl-card__menu">
        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" id="product_2">
            <i class="material-icons">share</i>
        </button>
        <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
            for="product_2">
            <li class="mdl-menu__item"><a href="#">Facebook</a> </li>
            <li class="mdl-menu__item"><a href="#">Google +</a> </li>
            <li class="mdl-menu__item"><a href="#">Link</a> </li>
        </ul>
    </div>
</article>
<br>

<article class="mdl-card mdl-shadow--4dp">
    <section class="mdl-card__title">
        <a href="#">
            <h2 class="mdl-card__title-text">Product Title</h2>
        </a>
    </section>

    <section class="mdl-card__media" style="padding: 10px;">
        <a href="#">
            <img src="{{ .Site.BaseURL}}/img/card-example.jpg" alt="Card Example">
        </a>
    </section>

    <section class="mdl-card__supporting-text">
        This is description, this is description, this is description, this is description, this is description
    </section>

    <!-- actions -->
    <section class="mdl-card__actions mdl-card--border" style="display: flex; justify-content: space-between">

        <div class="omg-card-price">$4,321.00</div>

        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--colored" title="Add to Cart">Add to Cart</button>
    </section>

    <!-- menu -->
    <div class="mdl-card__menu">
        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" id="product_3">
            <i class="material-icons">share</i>
        </button>
        <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
            for="product_3">
            <li class="mdl-menu__item"><a href="#">Facebook</a> </li>
            <li class="mdl-menu__item"><a href="#">Google +</a> </li>
            <li class="mdl-menu__item"><a href="#">Link</a> </li>
        </ul>
    </div>
</article>
<br>