{{ partial "header.html" . }}

<!--
{{/* ROOT ARRAY */}}
{{ range $rootKey, $tax := .Site.Data.taxonomies.taxonomies }}
    {{ if (eq .root true) }} {{/* if not (eq .root false) */}}
        {{ $.Scratch.SetInMap $rootKey "key" $rootKey }}
        {{ $.Scratch.SetInMap $rootKey "name" $tax.name }}
        {{ $.Scratch.SetInMap $rootKey "weight" $tax.root_weight }}
        {{ $.Scratch.SetInMap "roots" $rootKey ($.Scratch.Get $rootKey) }}
        {{ $.Scratch.Delete $rootKey }}
    {{ end }}
{{ end }}

{{/* COMMENTED!!!! ROOT ARRAY: ADDING FEATURED*/}}
{{ $.Scratch.SetInMap "featured" "key" "featured" }}
{{ $.Scratch.SetInMap "featured" "name" "Featured" }}
{{ $.Scratch.SetInMap "featured" "weight" 10 }}
{{ $.Scratch.SetInMap "roots" "featured" ($.Scratch.Get "featured") }}
{{ $.Scratch.Delete "featured" }}


{{ range $rootKey, $root := $.Scratch.Get "roots" }}
    {{ $.Scratch.Set $rootKey (slice $rootKey) }}
    {{ $tax := index $.Site.Data.taxonomies.taxonomies (string $rootKey) }}

    {{ range $childKey := $tax.children }}
        {{ if not (in ($.Scratch.Get $rootKey) $childKey) }} {{ $.Scratch.Add $rootKey (slice  $childKey) }} {{ end }}
        {{ $tax := index $.Site.Data.taxonomies.taxonomies (string $childKey) }}

        {{ range $childKey := $tax.children }}
            {{ if not (in ($.Scratch.Get $rootKey) $childKey) }} {{ $.Scratch.Add $rootKey (slice  $childKey) }} {{ end }}
            {{ $tax := index $.Site.Data.taxonomies.taxonomies (string $childKey) }}

            {{ range $childKey := $tax.children }}
                {{ if not (in ($.Scratch.Get $rootKey) $childKey) }} {{ $.Scratch.Add $rootKey (slice  $childKey) }} {{ end }}
                {{ $tax := index $.Site.Data.taxonomies.taxonomies (string $childKey) }}

                {{ range $childKey := $tax.children }}
                    {{ if not (in ($.Scratch.Get $rootKey) $childKey) }} {{ $.Scratch.Add $rootKey (slice  $childKey) }} {{ end }}
                    {{ $tax := index $.Site.Data.taxonomies.taxonomies (string $childKey) }}

                    {{ range $childKey := $tax.children }}
                        {{ if not (in ($.Scratch.Get $rootKey) $childKey) }} {{ $.Scratch.Add $rootKey (slice  $childKey) }} {{ end }}
                        {{ $tax := index $.Site.Data.taxonomies.taxonomies (string $childKey) }}

                        {{ range $childKey := $tax.children }}
                            {{ if not (in ($.Scratch.Get $rootKey) $childKey) }} {{ $.Scratch.Add $rootKey (slice  $childKey) }} {{ end }}
                            {{ $tax := index $.Site.Data.taxonomies.taxonomies (string $childKey) }}
                        {{ end }}
                    {{ end }}
                {{ end }}
            {{ end }}
        {{ end }}
    {{ end }}
{{ end }}-->


<div class="mdl-grid">
{{ range $products := where .Sections "Section" "products" }}
    <div class="mdl-cell mdl-cell--12-col">
        <h1>{{ .Title }}</h1>
        {{ .Content }}
    </div>

    <!--{{ range $product := .Sections }}
        {{ if $product.Params.taxonomies }}
            {{ $sku := index (split .Dir "/") 1}}
            {{ $.Scratch.SetInMap $sku "sku" $sku }}
            {{ $.Scratch.SetInMap $sku "title" $product.Params.title }}
            {{ $.Scratch.SetInMap $sku "description" $product.Params.description }}
            {{ $.Scratch.SetInMap $sku "permalink" $product.Permalink }}
            {{ $.Scratch.SetInMap $sku "image" $product.Params.image }}
            {{ range $tax := $product.Params.taxonomies }}
                {{ $.Scratch.SetInMap $sku "weight" $tax.weight }}
                {{ range $rootKey, $root := ($.Scratch.Get "roots") }}
                    {{ if in ($.Scratch.Get $rootKey) $tax.key }}
                        {{ $.Scratch.SetInMap (printf "%s%s" $rootKey "_products") $sku ($.Scratch.Get $sku) }}
                    {{ end }}
                {{ end }}
            {{ end }}
            {{ $.Scratch.Delete $sku }}
        {{ end }}
    {{ end }}-->
{{ end }}


{{ range $rootKey, $root := sort ($.Scratch.Get "roots") "weight" }}
    {{ if ($.Scratch.Get (printf "%s%s" (string $root.key) "_products")) }}
        <div class="mdl-cell mdl-cell--12-col">
            <h2><a href="/search/?category={{ $root.key }}">{{ $root.name }}</a> </h2>
        </div>
        {{ range $index, $product := sort ($.Scratch.Get (printf "%s%s" $root.key "_products")) "weight" | first 9 }}

            <div class="mdl-cell">

                <!-- product card -->
                <article class="mdl-card mdl-shadow--4dp omg-card-product">
                    <section class="mdl-card__title">
                        <a href="{{ $product.permalink }}">
                            <h3 class="mdl-card__title-text">{{ $product.title }}</h3>
                        </a>
                    </section>

                    {{ if $product.image}}
                    <section class="mdl-card__media">
                        <a href="{{ $product.permalink }}">
                            <img src="{{ $product.image }}" alt="Card Example">
                        </a>
                    </section>
                    {{ end }}

                    <section class="mdl-card__supporting-text">
                        {{ $product.description }}
                    </section>

                    <!-- actions -->
                    <section class="mdl-card__actions mdl-card--border">
                        <strong class="omg-card-price">$4,321.00</strong>

                        <div>
                            <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect mdl-button--accent" id="share_{{ $root.key }}_{{ $index }}" title="Share">
                                <i class="material-icons">share</i>
                            </button>
                            <ul class="mdl-menu mdl-menu--top-right mdl-js-menu mdl-js-ripple-effect"
                                for="share_{{ $root.key }}_{{ $index }}">
                                <li class="mdl-menu__item"><a href="#">Facebook</a> </li>
                                <li class="mdl-menu__item"><a href="#">Google +</a> </li>
                                <li class="mdl-menu__item"><a href="#">Copy Link</a> </li>
                            </ul>
                            <div class="mdl-tooltip mdl-tooltip--top" data-mdl-for="share_{{ $root.key }}_{{ $index }}">Share</div>

                            <!-- add to cart -->
                            <a id="add_{{ $root.key }}_{{ $index }}" class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect mdl-button--accent" href="#" title="Add to Cart">
                                <i class="material-icons">add_shopping_cart</i>
                            </a>
                            <div class="mdl-tooltip mdl-tooltip--top" data-mdl-for="add_{{ $root.key }}_{{ $index }}">Add to Cart</div>
                            <!--<button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--accent" title="Add to Cart">Add to Cart</button>-->
                        </div>
                    </section><!-- actions -->
                </article><!-- product card -->
            </div><!-- mdl-cell -->

        {{ end }}

        <!-- View More -->
        <div class="mdl-cell mdl-cell--12-col mdl-typography--text-center">
            <h4>
                <a href="/search/?category={{ $root.key }}" class="mdl-button mdl-js-button mdl-color--amber-400">
                    View all {{ $root.name }}
                    <i class="material-icons">arrow_forward</i>
                </a>
            </h4>
        </div>

    {{ end }}
{{ end }}
</div> <!-- mdl-grid -->



{{ $.Scratch.Delete "roots" }}
{{ partial "footer.html" . }}
