{{ partial "header.html" . }}

<div class="mdl-grid">
    {{ range where .Sections "Section" "products" }}

        <div class="mdl-cell mdl-cell--12-col">
            <h1>{{ .Title }}</h1>
            {{ .Content }}
        </div>

        {{ range $index, sort .Sections ".Title" }}

            <div class="mdl-cell">
                <article class="mdl-card mdl-shadow--4dp omg-card-product">
                    <section class="mdl-card__title">
                        <a href="{{ .Permalink }}">
                            <h2 class="mdl-card__title-text">{{ .Title }}</h2>
                        </a>
                    </section>

                    {{ if .Params.Image}}
                    <section class="mdl-card__media">
                        <a href="{{ .Permalink }}">
                            <img src="{{ .Params.Image }}" alt="Card Example">
                        </a>
                    </section>
                    {{ end }}

                    <section class="mdl-card__supporting-text">
                        {{ .Description }}
                    </section>

                    <!-- actions -->
                    <section class="mdl-card__actions mdl-card--border">

                        <strong class="omg-card-price">$4,321.00</strong>

                        <div>
                            <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect mdl-button--accent" id="share_{{ $index }}" title="Share">
                                <i class="material-icons">share</i>
                            </button>
                            <ul class="mdl-menu mdl-menu--top-right mdl-js-menu mdl-js-ripple-effect"
                                for="share_{{ $index }}">
                                <li class="mdl-menu__item"><a href="#">Facebook</a> </li>
                                <li class="mdl-menu__item"><a href="#">Google +</a> </li>
                                <li class="mdl-menu__item"><a href="#">Copy Link</a> </li>
                            </ul>
                            <div class="mdl-tooltip mdl-tooltip--top" data-mdl-for="share_{{ $index }}">Share</div>

                            <!-- add to cart -->
                            <a id="add_{{ $index }}" class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect mdl-button--accent" href="#" title="Add to Cart">
                                <i class="material-icons">add_shopping_cart</i>
                            </a>
                            <div class="mdl-tooltip mdl-tooltip--top" data-mdl-for="add_{{ $index }}">Add to Cart</div>
                            <!--<button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--accent" title="Add to Cart">Add to Cart</button>-->
                        </div>
                    </section><!-- actions -->
                </article><!-- mdl-card -->
            </div><!-- mdl-cell -->
        {{ end }}
    {{ end }}

</div><!-- mdl-grid -->

{{ partial "footer.html" . }}