{{ partial "header.html" . }}

<h1>{{ .Title }}</h1>

<div class="omg-content-cards">
{{ range (where .Data.Pages "Section" "testimonials").Reverse }}
    <div class="mdl-card mdl-shadow--4dp">
        <div class="mdl-card__media" style="background-color: transparent; text-align: center; padding-top: 22px; padding-bottom: 4px;">
            <img src="{{.Site.BaseURL}}img/testimonial-quotes.png" width="50">
        </div>

        <div class="mdl-card__supporting-text">
            {{ .Content }}

            {{ if .Params.youtube_id }}
                <iframe width="100" height="200" src="https://www.youtube.com/embed/{{ .Params.youtube_id }}?wmode=opaque&amp;rel=0&amp;autohide=1&amp;showinfo=0&amp;wmode=transparent" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            {{ end }}

            <blockquote>{{ .Params.author }}</blockquote>
        </div>
    </div>
{{ end }}
</div>

{{ .Content }}

{{ partial "footer.html" . }}