{{ partial "header.html" . }}

    <h1>{{ .Title }}</h1>

    {{ .Content }}

    {{/*  Videos  */}}
    {{ if eq .Title "Videos" }}
        <section>
            {{ range $.Site.Data.videos.videos }}
                <h2>{{ .title }}</h2>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ .youtube_id }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                <p>{{ .description }}</p>
            {{ end }}
        </section>
    {{ end }}

    {{/*  Contact  */}}
    {{ if eq .Title "Contact" }}
        <form method="POST" action="#">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" required minlength="2">

            <label for="email">Email</label>
            <input type="email" name="email" id="email" required>

            <label for="subject">Subject</label>
            <input type="text" name="subject" id="subject" required minlength="5">

            <label for="category">Category</label>
            <select name="category" id="category" required>
                <option value="">-- Choose One --</option>
                <option value="1">Product Information</option>
                <option value="2">Product Suggestion</option>
                <option value="3">Website Feedback</option>
            </select>

            <label for="message">Message</label>
            <textarea name="message" id="message" required minlength="10"></textarea>

            <input type="submit" value="Send">
        </form>
    {{ end }}

{{ partial "footer.html" . }}
