{{ partial "header.html" . }}

<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
        <h1>{{ .Title }}</h1>

        <style>
            .omg-product-form{
                width: 100%;
                min-height: 0;
                margin-bottom: 20px;
            }
            .omg-product-form .mdl-card__media{
                background-color: transparent;
                padding: 10px 20px;
            }
        </style>

        <!-- addToCart form -->
        <div class="mdl-card mdl-shadow--2dp omg-product-form">
            <div class="mdl-card__media">
                <div class="omg-product-form-details">
                    <div>Price: $4,321.00</div>
                    <div>SKU: {{ .Params.reference}}</div>
                </div>

                <form method="POST" action="#">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" pattern="^[1-9][0-9]*$" id="quantity" value="1" required>
                        <label class="mdl-textfield__label" for="quantity">Quantity</label>
                        <span class="mdl-textfield__error">Input is not a valid number!</span>
                    </div><input class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit" value="Add to Cart">
                </form>
            </div>
        </div>

        <!-- tabs -->
        <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
            <div class="mdl-tabs__tab-bar">
                {{ range $index, $section := sort .Pages ".Params.weight" }}
                    <a href="#{{ lower (replace .Title " " "_") }}_{{ $index }}" class="mdl-tabs__tab {{ if eq $index 0 }} is-active {{ end }}">{{ .Title }}</a>
                {{ end }}
                {{ if .Params.Attachments }}
                    <a href="#attachments" class="mdl-tabs__tab {{ if eq (len .Pages) 0 }} is-active {{ end }}">Attachments</a>
                {{ end }}
            </div>

            {{ range $index, $section := sort .Pages ".Params.weight" }}
                <div id="{{ lower (replace .Title " " "_") }}_{{ $index }}" class="mdl-tabs__panel {{ if eq $index 0 }} is-active {{ end }}">
                    <h2>{{ .Title }}</h2>

                    {{ .Content }}

                    {{ if eq $index 0 }}
                        <section>
                            <h3>Image Gallery</h3>
                            {{ partial "image-gallery-test.html" . }}
                        </section>

                        <section>
                            <h3>Video Gallery</h3>

                            {{ partial "video-gallery-test.html" . }}
                        </section>

                        <section>
                            <h3>Related Products</h3>

                            {{ partial "related-products-test.html" . }}
                        </section>
                    {{ end }}
                </div>
            {{ end }}

            {{ if .Params.Attachments }}
                <div id="attachments" class="mdl-tabs__panel {{ if eq (len .Pages) 0 }} is-active {{ end }}">
                    <h2>Attachments</h2>
                    <ul>
                        {{ range .Params.Attachments }}
                            <li><a href="{{ .url }}" target="_blank">{{ .title }}</a> </li>
                        {{ end }}
                    </ul>
                </div>
            {{ end }}
        </div>
    </div>
</div>

{{ partial "footer.html" . }}
