{{ $styles := slice "/css/mdl-ext/mdl-ext-eqjs.min.css" "/css/mdl-ext/dialog-polyfill.css"}}
{{ $scripts := slice "https://code.getmdl.io/1.3.0/material.min.js" "https://cdn.polyfill.io/v2/polyfill.min.js?features=default,es6" "/js/mdl-ext/dialog-polyfill.js" "/js/mdl-ext/mdl-ext.min.js" "/js/lightbox-images.js" "/js/lightbox-videos.js"}}

{{ partial "header.html" (dict "pageStyles" $styles ) . }}

<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
        <h1>{{ .Title }}</h1>

        <!-- addToCart form -->
        <div class="mdl-card mdl-shadow--2dp omg-product-form">
            <div class="mdl-card__media">
                <div class="omg-product-form-details">
                    <span>Price: $4,321.00</span>
                    <span>SKU: {{ (index (split .Dir "/") 1) }}</span>
                </div>

                <form method="POST" action="#">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" pattern="^[1-9][0-9]*$" id="quantity" value="1" required>
                        <label class="mdl-textfield__label" for="quantity">Quantity</label>
                        <span class="mdl-textfield__error">Input is not a valid number!</span>
                    </div><input class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit" value="Add to Cart">
                </form>
            </div>
        </div>

        {{ .Params.specs }}

        <!-- tabs -->
        <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
            <div class="mdl-tabs__tab-bar">
                <a href="#description" class="mdl-tabs__tab is-active">Description</a>
                {{ range $index, $section := sort .Pages ".Params.weight" }}
                    <a href="#{{ lower (replace .Title " " "_") }}_{{ $index }}" class="mdl-tabs__tab">{{ .Title }}</a>
                {{ end }}
                {{ if .Params.Attachments }}
                    {{ if ge (len .Params.Attachments) 1 }}
                        {{ $firstAttch := index .Params.Attachments 0}}
                        {{ if ne $firstAttch.url nil }}
                            <a href="#attachments" class="mdl-tabs__tab">Attachments</a>
                        {{ end }}
                    {{ end }}
                {{ end }}
            </div>

            <div id="description" class="mdl-tabs__panel is-active">
                <h2>Description</h2>
                {{ .Content }}

                <!--  images -->
                <section>
                    {{ if $.Params.images }}
                    {{ $images := where $.Params.images "url" "ne" nil }}
                        {{ if $images }}
                            <h3>Image Gallery</h3>
                            {{ partial "lightbox-images.html" (dict "images" $images "productTitle" $.Title) }}
                        {{ end }}
                    {{ end }}
                </section><!-- images -->

                <!-- videos -->
                <section>
                    {{ $videos := where $.Site.Data.videos.videos "keys" "intersect" (slice (index (split .Dir "/") 1)) }}
                    {{ if $videos }}
                        <h3>Video Gallery</h3>
                        {{ partial "lightbox-videos.html" (dict "videos" $videos)}}
                    {{ end }}
                </section><!-- videos -->

                <!-- related products -->
                <section>
                    {{ if $.Params.related }}
                        <h3>Related Products</h3>
                        <div class="mdl-grid">

                            {{ range $section := where .Site.Sections "Section" "products" }}
                                {{ range $r := $.Params.related }}
                                <div class="mdl-cell">
                                    {{ $product := index (where $section.Sections "Dir" (printf "%s%s%s" "products/" $r "/")) 0 }}
                                    {{ partial "product-card.html" (dict "title" $product.Params.title "permalink" $product.Permalink "image" $product.Params.image "description" $product.Params.description) }}
                                </div>
                                {{ end }}
                            {{ end  }}
                        </div>
                    {{ end  }}
                </section>
            </div><!-- related products -->

            {{ range $index, $section := sort .Pages ".Params.weight" }}
                <div id="{{ lower (replace .Title " " "_") }}_{{ $index }}" class="mdl-tabs__panel">
                    <h2>{{ .Title }}</h2>
                    {{ .Content }}
                </div>
            {{ end }}

            {{ if .Params.Attachments }}
                {{ if ge (len .Params.Attachments) 1 }}
                    {{ $firstAttch := index .Params.Attachments 0}}
                    {{ if ne $firstAttch.url nil }}
                        <div id="attachments" class="mdl-tabs__panel {{ if eq (len .Pages) 0 }} is-active {{ end }}">
                            <h2>Attachments</h2>
                            <ul>
                                {{ range .Params.Attachments }}
                                <li><a href="{{ .url }}">{{ .title }}</a> </li>
                                {{ end }}
                            </ul>
                        </div>
                    {{ end }}
                {{ end }}
            {{ end }}
        </div>
    </div>
</div>

{{ partial "footer.html" (dict "pageScripts" $scripts ) . }}
