{{ partial "header.html" . }}

<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
        <h1>{{ .Title }}</h1>
    </div>


    <div class="mdl-cell mdl-cell--12-col">

        <div class="omg-product-form">
            <div class="omg-product-form-details">
                <div>Price: $4,321.00</div>
                <div>SKU: {{ .Params.reference}}</div>
            </div>

            <form method="POST" action="#">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" pattern="^[1-9][0-9]*$" id="quantity" value="1" required>
                    <label class="mdl-textfield__label" for="quantity">Quantity</label>
                    <span class="mdl-textfield__error">Input is not a valid number!</span>
                </div><input class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit" value="Add to Cart">
            </form>
        </div>

        <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
            <div class="mdl-tabs__tab-bar">
                <a href="#description" class="mdl-tabs__tab is-active">Description</a>
                <a href="#specs" class="mdl-tabs__tab">Specs</a>
                <a href="#articles" class="mdl-tabs__tab">Articles</a>
                <a href="#attachments" class="mdl-tabs__tab">Attachments</a>
            </div>

            <!-- description -->
            <div id="description" class="mdl-tabs__panel is-active">
                <h2>Description</h2>

                {{ .Content }}

                <section>
                    <h2>Image Gallery</h2>
                    {{ partial "image-gallery-test.html" . }}
                </section>

                <section>
                    <h2>Video Gallery</h2>

                    {{ partial "video-gallery-test.html" . }}
                </section>

                <section>
                    <h2>Related Products</h2>

                    {{ partial "related-products-test.html" . }}
                </section>
            </div>

            <!-- specs -->
            <div id="specs" class="mdl-tabs__panel">
                <h2>Specs</h2>

                <ul>
                    <li>Up to 10 FPM cut speed</li>
                    <li>
                        1730 RPM Air Cooled Induction Motor (2hp & 3hp models)
                        <ul>
                            <li>2hp 110v at 18 Amps</li>
                            <li>3hp 220v at 12.4 Amps</li>
                        </ul>
                    </li>
                    <li>
                        3450 RPM Custom Water-Cooled Induction Motor (5hp model)
                        <ul>
                            <li>5hp 220v at 22 Amps</li>
                        </ul>
                    </li>
                </ul>

                <table>
                    <tr>
                        <td>Cut Speed:</td>
                        <td>up to 10 FPM</td>
                    </tr>
                    <tr>
                        <td>Cooled Induction:</td>
                        <td>1730 RPM Air</td>
                    </tr>
                    <tr>
                        <td>Motor:</td>
                        <td>3hp 220v at 12.4 Amps</td>
                    </tr>
                    <tr>
                        <td>Blade:</td>
                        <td>14 inch</td>
                    </tr>
                    <tr>
                        <td>Blade Arbor:</td>
                        <td>60mm</td>
                    </tr>
                </table>
            </div>

            <!-- articles -->
            <div id="articles" class="mdl-tabs__panel">
                <h2>Articles & Tutorials</h2>

                <ul>
                    <li>
                        <a href="#">How to Check Blue Ripper Rail Straightness</a>
                    </li>
                    <li>
                        <a href="#">How to Check Blue Ripper Rail Straightness</a>
                    </li>
                    <li>
                        <a href="#">How to Check Blue Ripper Rail Straightness</a>
                    </li>
                    <li>
                        <a href="#">How to Check Blue Ripper Rail Straightness</a>
                    </li>
                </ul>
            </div>

            <!-- attachments -->
            <div id="attachments" class="mdl-tabs__panel">
                <h2>Attachments</h2>

                <ul>
                    <li><a href="#">Attachement 1</a></li>
                    <li><a href="#">Attachement 2</a></li>
                    <li><a href="#">Attachement 3</a></li>
                    <li><a href="#">Attachement 4</a></li>
                </ul>
            </div>

        </div><!-- mdl-tabs -->
    </div><!-- mdl-cell -->
</div><!-- mdl-grid -->

{{ partial "footer.html" }}
